<!DOCTYPE html>
<link href="homepage.css" rel="stylesheet"/>
<head>
	<title>
		Home
	</title>
</head>

<body>
<header style="font-size:36px; text-align:center;">
The Harvard Crimson
</header>
<div id="navbar">
	<ul>
      <li>News</li>
      <li>Opinion</li>
      <li>Magazine</li>
      <li>Sports</li>
      <li>Arts</li>
      <li>Multimedia</li>
      <li>Flyby</li>
    </ul>
</div>
<ul id= "article_list">
	{% for article in articles %}
	<li><a href="{{article.url}}">{{ article }}</a></li>
	{% endfor %}
</ul>
</body>
  <footer>
    <div style="font-size:12px;">
      <h1>The Harvard Crimson</h1>
      <h2>Copyright &copy; 2015 The Harvard Crimson, Inc.</h2>
    </div>
     <nav id="footer_links">
        <ul>
          <li>Privacy Policy</li>
          <li>Rights &amp; Permissions</li>
          <li>Contact Us</li>
          <li>Corrections</li>
          <li>Email Subscriptions</li>
          <li>Print Subscriptions</li>
          <li>Archives</li>
          <li>Writers</li>
        </ul>
      </nav>
    </div>
  </footer>
</html>